.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #394147;

  >* {
    box-sizing: border-box;
  }

  &-header {
    height: 7vh;
    background: #394147;
    color: #fafafa;
    padding: 10px;
    text-align: center;

    .title {
      margin: 0;
    }
  }

  &-body {
    height: 88vh;
    width: 88vh;
    margin: 0 auto;
    vertical-align: baseline;
    font-size: 0;

    .cell {
      position: relative;
      margin: 0;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      display: inline-block;
      box-sizing: border-box;
      line-height: 0;
      font-size: 0;
      background-color: lighten(#394147, 50%);
      color: #000;
      transition: all .25s ease-in;

      .counter {
        font-size: 18px;
        font-weight: 600;
        position: absolute;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate3d(-50%, -50%, 0);
        user-select: none;
        pointer-events: none;
      }

      &:nth-child(10n + 1) {
        border-left: 1px solid black;
      }

      &:nth-child(-n + 10) {
        border-top: 1px solid black;
      }

      &.selected {
        background: #316A68;
      }

      &.selectable {
        background: #D0DA5C;
        cursor: pointer;
      }
    }
  }

  &-footer {
    height: 5vh;
    background: #394147;
    color: #fafafa;
    padding: 10px;
    display: flex;

    .stats-title {
      margin: 0;
      width: 120px;
    }

    .stats {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      .game-stats {
        margin: 0 10px;
      }

    }
  }
}